/* h3{
    color: brown;
} */

body {
    background-color: #504746;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

.social {
    width: 20px;
    height: 20px;
}

.social-links ul, li {
    list-style-type: none;
    display: inline-block;
}